<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>
            Register Teacher
        </mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.name"
                        matInput
                        placeholder="Name"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.lastName"
                        matInput
                        placeholder="Last Name"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.specialty"
                        matInput
                        placeholder="specialty"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.dni"
                        type="number"
                        matInput
                        placeholder="identification Document"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.address"
                        matInput
                        placeholder="address"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.telephone"
                        matInput
                        placeholder="telephone"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.email"
                        type="email"
                        matInput
                        placeholder="email"
                        required
                    />
                </mat-form-field>
                <mat-form-field>
                    <input 
                        [(ngModel)]="registerData.password"
                        type="password"
                        matInput
                        placeholder="password"
                        required
                    />
                </mat-form-field>
               
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="registerTeacher()"
                    class="button colorButton"
                    mat-raised-button
            >
               Register
            </button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>